.card {
    width: 250px;
    height: 380px;
    margin: 35px 25px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    color: #000;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(206, 244, 244, 0.3);
    z-index: -1;
    transform: scale(0.99);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.card:hover::before {
    transform: scale(1.07, 1.05) rotateX(30deg);
}

.card-image {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    background-image: url(https://lh3.google.com/u/0/d/1olg-K7bjRFzvQJkglGrtA0qQz9y8sIZm=w1324-h627-iv1);
    background-size: cover;
    background-position: center center;
    height: 40%;
}

.card-content {
    border-radius: 0 0 15px 15px;
    padding: 15px;
    background: rgba(206, 244, 244, 1);
    height: 60%;
}

.card-title {
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 15px;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(31, 77, 164, 0.5);
    font-size: 1.2em;
    letter-spacing: normal;
}

.card-description {
    margin-top: 15px;
    line-height: 1.5em;
}

.card-description b {
    opacity: 0.8;
}

.card-link {
    display: flex;
    justify-content: flex-end;

    width: 46px;
    height: 46px;
    overflow: hidden;

    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    top: 40%;

    background-color: rgb(95, 131, 190);
}

.card-btn {
    display: block;
    width: 46px;
    height: 100%;

    background: rgb(79, 119, 184) url("../../images/right-arrow.png") no-repeat center center / 50%;
}

.card-link, .card-btn {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;

    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

.card-visit {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
    padding-top: 1px;
    padding-left: 15px;
    overflow: hidden;

    position: absolute;
    top: 0;
    right: 0;

    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.3px;
    opacity: 0;

    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    transform: translateX(100%);
    z-index: -1;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.card-link:hover {
    width: 110px;
}

.card-link:hover .card-visit {
    -webkit-border-radius: 23px 0 0 23px;
    -moz-border-radius: 23px 0 0 23px;
    border-radius: 23px 0 0 23px;
    opacity: 1;
    transform: translateX(0);
}
